/* General Styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    transition: background-color 0.5s ease-in-out; /* Subtle transition for any background color change */
}

h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/* Footer */
footer {
    background-color: #e1e1e1;
    padding: 20px;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s ease-in-out; /* Footer background transition */
   
}

/* First Screen Section */
.FirstScreen {
    height: 275vh;
    background-color: white;
    position: relative;
    top: 0;
    flex: 1;
    animation: fadeIn 1s ease-in-out; /* Fade-in animation */
}

/* Header */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /*background-color: #12123a;*/
    background-color: #519fd0b0;

    height: 1cm;
    position: relative;
    top: 0;
    transition: background-color 0.3s ease-in-out; /* Smooth background color change on scroll */
}

.title-text {
    text-align: left;
    color: white;
    font-size: 1.2cm;
    padding: 0 0.4cm;
    transition: color 0.3s ease-in-out; /* Smooth text color change */
}



/* Content Container */
.content-container {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

/* Headshot */
.headshot-container {
    margin-right: 20px;
}

.headshot {
    width: 300px;
    height: auto;
    border-radius: 3.5%;
    border: 2px solid #d7d7d7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out; /* Smooth zoom on hover */
}



/* Skills Section */
.skills-container {
    flex: 1;
    font-size: 1.2rem;
    line-height: 1.6;
}

.skills-container p {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.skills-boxes {
    display: flex;
    gap: 3.5px;
    /* background-color: #1a1a54;*/
    background-color: #519fd0;
    border-radius: 5px;
}

.skill-box {
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease-in-out;
    color: white;
}

.skill-box:hover {
    background-color: #dd3636;
    transform: translateY(-2px); /* Subtle lift on hover */
}

.skill-box.selected, .skill-box.active {
    background-color: #dd3636;
    color: white;
}

/* Image Grid */
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 30px 0;
}

.grid-image {
    width: 325px;
    height: 170px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    border: 2px solid #d7d7d7;
}

.grid-image.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1.02); /* Slight zoom-in for visible images */
}

.grid-image:hover {
    transform: scale(1.08); /* Larger zoom-in on hover */
}


@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05); /* Slight expansion */
    }
}

/* PDF Container */
.pdf-container {
    border: 2px solid black;
    height: 1700px;
}

.pdf-wrapper {
    padding: 0 150px 150px 100px;
    box-sizing: border-box;
}

.pdf-text {
    position: absolute;
    top: 165px;
    right: 80px;
    background: #e1e1e1;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s ease;

}

.pdf-text a {
    font-size: 24px;
    color: #2e3030;
}

.pdf-text:hover {
    transform: scale(1.05); /* Larger zoom-in on hover */
    transition: transform 0.3s ease;

}

/* PDF Description */
.pdf-description {
    position: absolute;
    top: 265px;
    right: 20px;
    width: 350px;
    background: #f1f0f0;
    padding: 5px;
    border-radius: 5px;
}

/* Hours Table */
.hours table {
    width: 100%;
    border-collapse: collapse;
}

.hours table th, .hours table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.hours table th {
    background-color: #f1f1f1;
}

/* Logo Container */
.LogoContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Logo img, .LinkedIn img, .Email img {
    width: 45px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.Logo img:hover, .LinkedIn img:hover, .Email img:hover {
    transform: rotate(5deg); /* Subtle logo rotation on hover */
}








.search-bar {
    position: relative; /* Ensure positioning context for the icon */
    display: flex;
    align-items: center;
    padding: 17px;
    width: 100%;
}

.search-bar input {
    width: 200px; /* Ensure the input takes up available space */
    min-width: 150px; /* Adjust as needed */
    padding: 12px 24px;
    padding-right: 50px; /* Space for the icon */
    border-radius: 24px;
    font-size: 16px;
    border: 0px;
    outline: none;
    background-color: #f0f0f0; /* Background color */
}

.search-icon {
    position: absolute;
    left: 180px; /* Adjust to fit your design */
    top: 50%;
    transform: translateY(-50%); /* Center the icon vertically */
    height: 30px; /* Adjust as needed */
    cursor: pointer;
}


.project-list {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Space between items */
    padding-top: 15px;
    padding-bottom: 80px;

}

.project-item {
    display: flex;
    align-items: center;
    gap: 15px; /* Space between image and title */
}

.project-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.thumbnail {
    width: 110px; /* Adjust as needed */
    height: auto;
    border-radius: 4px; /* Optional: Add rounded corners */
}

.title {
    font-size: 20px;
    color: #303030; /* Text color */
    font-weight: bold;
    padding-left: 10px;
}
