html, body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    transition: background-color 0.5s ease-in-out;
    scrollbar-width: none; /* For Firefox */
    overflow-x: hidden; /* Disable horizontal scrolling */

}

a {
    text-decoration: none;
    color: #2e3030;
}



/* Footer */
footer {
    background-color: #779f9e9c;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: auto; /* Ensure it stays at the bottom of the content */
    transition: background-color 0.3s ease-in-out;
    margin-top: 5%;
}

/* Header */
.header-container {
    min-width: 250px; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #6b8f8e;
    height: 1cm;
    position: sticky;
  

   
}

.tools_title{
    font-size: 270%;
    color: aliceblue;
    padding-left: 10px;
    vertical-align: baseline;
    display: inline-block; /* Ensures the div inside <a> is clickable */
    cursor: pointer; /* Changes cursor to indicate clickability */

}


.title-text {

    text-align: left;
    color: white;
    font-size: 1.2cm;
    transition: color 0.3s ease-in-out; /* Smooth text color change */
}


/* Content Container */
.content-container {
    display: flex;
    align-items: flex-start;
    margin-top: 0px;
    overflow-x: hidden; 
    max-width: 100%; /* Prevent it from growing beyond the viewport */


}



.headshot {
    width: 300px;
    height: auto;
    border-radius: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out; /* Smooth zoom on hover */
}


/* Logo Container */
.LogoContainer {
    display: flex;
    align-items: center;
    gap: 3%;
    margin-left: auto; /* Push this item to the far right */
    padding-right: 0.5%;
    
}

 /* Flex container for side-by-side layout */
 .main-container {
    display: flex;
    /* flex-direction: column; */

    
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap; 
    overflow-y: auto;

}

/* Left section for headshot */
.headshot-container {
    width: 250px;
    flex: 1;
    flex-direction:row;

}

/* About me text styling */
.headshot_name {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    padding-bottom: 5px;
    padding-top: 5px;

}

.about-me p {
    font-size: 16px;
    color: #333;
    width: 300px;
    /* max-width: 300px;
    min-width: 300px; */
    text-align:left;
}







/* Right section for posts */
.posts-container {
    width: 65%; 
    padding-right: 4%; 
    flex: 2;
    max-height: 100vh; /* Adjust height as needed */
    overflow-y: auto;
    /* scrollbar-width: none; */
    scrollbar-width:thin; /* Thin scrollbar */
    scrollbar-color: rgba(0, 0, 0, 0.04) transparent; /* Thumb color and track color */


    scroll-behavior: smooth; /* Smooth scroll */
    margin-right: 4%;
    padding-left: 2%;


    /* padding-left: 50px; */

    margin-top: 0;
    border-radius: 1%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Sticky project heading */
.posts-container h1 {
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
    padding: 10px;
    margin-top: 0;

}

.post {
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 0px;
    border-radius: 10px;
    margin: 20px 0;
}

.post:hover {
    transform: translateY(-3px);
    transition: transform 0.3s ease;
}

.post-image {
    width: 20%;
    height: 15%;
    max-height: 150px;
    border-radius: 5px;
    margin-right: 15px;
}

.post-content {
    flex: 1;
    align-items: center;
}

.post_title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.datestamp {
    font-size: 14px;
    color: #777;
    margin-left: 20px;
}


h3 {
    margin: 0;
    font-size: 20px;
}

h3 a {
    color: #373737;
    text-decoration: none;
}

h3 a:hover {
    text-decoration: underline;
}

.tags {
    margin-top: 10px;
    margin-bottom: 5px;
}

.tag {
    display: inline-block;
    background-color: #ccc;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
}

.sub_tag {
    display: inline-block;
    background-color: #f3f3f3;
    color: #777;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 10px;
}


.post_description{
    font-size: 14px;
    color: #777;
    margin-left: 10px;}



.divider {
    height: 1px;
    background-color: #ccc;
    margin: 25px 0;
    width: 100%;
    text-align: center;

}




@media (max-width: 1100px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .headshot-container {
        /* max-width: 100%; */
        text-align: left;
        position: sticky;
        top: 0; /* Sticks at the top of the viewport */
        /* z-index: 100; */
        background-color: white; /* Prevents overlap with content */
        padding-bottom: 20px;
        margin-left: -120px;
    }

    .posts-container {
        max-width: 100%;
        text-align: center;
        overflow-y: auto; /* Allows scrolling after headshot is passed */
    }

    .post {
        flex-direction: column;
        text-align: center;
        
    }

    .post-image {
        width: 50%;
        max-height: none;
        min-height: 200px;
        margin-bottom: 10px;
    }
    .title-text {

        font-size:1cm;
    }
    .tools_title{
        font-size: 250%;
    }

}